<%- include header %>
	<p><%= title %></p>
	<button id="on" class="btn btn-primary">开</button>
	<button id="off" class="btn btn-danger">关</button>
	<div class="well">
		<input type="text" class="span20" data-slider-min="1" data-slider-max="250" id="sl" style="display:none;" >
  	</div>
<%- include footer %>
<script src="javascripts/led.js"></script>