<%- include header %>
	<div id="login-container">
		<form method="post" action="/" id="login-form" class="well span4">
			<h1>Hello!</h1>
			<% if(data.status == '0'){ %>
				<p class="text-error">服务器错误</p>
			<% }else if(data.status == '-1'){ %>
				<p class="text-error">帐号或者密码不匹配</p>
			<%}else{%>
				<p class="subheading">please Login To Your Account</p>
			<%}%>
			<label>Username</label>
			<input type="text" name="user" id="user-tf" class="span4 required">
			<label>Password</label>
			<input type="password" name="pass" id="pass-tf" class="span4 required">
			<button type="submit" id="btn-login" class="btn btn-primary"><i class="icon-lock icon-white"></i>Sign in</button>
			<label id="remember-me" class="checkbox">Remember Me
				<input type="checkbox" checked="checked">
			</label>
			<hr>
			<div class="btm-links">
				<a href="#" id="forgot-password">Forgot Your Password?</a>
				<a href="/reg" id="create-account">Create An Account</a>
			</div>
		</form>
	</div>
<%- include footer %>
<script type="text/javascript" src="/javascripts/login.js"></script>
